<div class="report-wrapper d-flex flex-column flex-md-row justify-content-lg-between">

    <section class="side-table mx-2 d-flex flex-md-column">

        {{!-- Income Adder --}}
        <div class="inc-wrapper bg-sec mt-3 pt-2 pb-3 px-3 rounded">

            <h3 class="text-center">Add Income</h3>

            <form>
                <div class="form-group">
                    <label for="income-name">Income Name:</label>
                    <input id="income-name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="income-amount">Income Amount:</label>
                    <input id="income-amount" type="number" class="form-control">
                </div>
                <button id="submit-income" type="submit" class="btn btn-block sbm-btn bg-tert mt-4">+ Add</button>
            </form>
        </div>

        {{!-- Expense Adder --}}
        <div class="exp-wrapper bg-sec mt-3 pt-2 pb-3 px-3 rounded">

            <h3 class="text-center">Add Expense</h3>

            <form>
                <div class="form-group">
                    <label for="expense-name">Expense Name:</label>
                    <input id="expense-name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="expense-amount">Expense Amount:</label>
                    <input id="expense-amount" type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label for="expense-category">Category:</label>
                    <select id="expense-category" class="form-control">
                        <option value="none">Select a category...</option>
                        {{#each categories as |category|}}
                        <option value="{{category_name}}">{{category_name}}</option>
                        {{/each}}
                    </select>
                </div>
                <button id="submit-expense" type="submit" class="btn btn-block sbm-btn bg-tert mt-4">+ Add</button>
            </form>
        </div>

        {{!-- Category Adder --}}
        <div class="cat-wrapper bg-sec my-3 pt-2 pb-3 px-3 rounded">

            <h3 class="text-center">Add Category</h3>

            <form>
                <div class="form-group">
                    <label for="category-name">Category Name:</label>
                    <input id="category-name" type="text" class="form-control">
                </div>
                <button id="submit-category" type="submit" class="btn btn-block sbm-btn bg-tert mt-4">+ Add</button>
            </form>
        </div>

    </section>

    {{!-- Reports --}}
    <section class="reports w-100">

        {{#each categories as |category|}}
        <table class="my-3 rounded col-12">
            <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 50%;">
            <col span="1" style="width: 10%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Date</th>
                    <th class="text-center">{{category_name}}</th>
                    <th class="text-right">Amount</th>
                </tr>
            </thead>
            <tbody>
                {{#each transactions as |transaction|}}
                {{> transaction-details}}
                {{/each}}
            </tbody>
            <tfoot>
                <th colspan="2">Total:</th>
                <td class="text-right">00.00</td>
            </tfoot>
        </table>
        {{/each}}


    </section>

    {{!-- Report Wrapper End --}}
</div>

<script src="./js/adders.js"></script>