<div id="signup-wrapper" class="bg-sec mt-md-5 mx-auto pt-1 px-3 rounded">

    <h3 class="text-center">Sign-up</h3>

    <form>
        <div class="form-group">
            <label for="signup-name">Name:</label>
            <input id="signup-name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="signup-email">Email:</label>
            <input id="signup-email" type="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="signup-password">Password:</label>
            <input id="signup-password" type="password" class="form-control">
        </div>
        <button id="submit-button" type="submit" class="btn btn-block sbm-btn bg-tert mt-4">Submit</button>
    </form>
    <p class="mt-2 mr-2 pb-2 text-right">Already have an account? <a href="/">Login</a></p>
</div>

<script src="/js/signup.js"></script>